<footer class="footer">
  <div class="footer__social-item">
    <a href="https://instagram.com/pronko_p"
      ><img src="../../assets/img/iconmonstr-instagram-11-32.png" href="/" alt=""
    /></a>
  </div>
  <div class="footer__social-item">
    <a
      href="https://www.linkedin.com/in/%D0%BF%D0%B0%D0%B2%D0%B5%D0%BB-%D0%BF%D1%80%D0%BE%D0%BD%D1%8C%D0%BA%D0%BE-4538a1184/"
      ><img src="../../assets/img/iconmonstr-linkedin-3-32.png" alt=""
    /></a>
  </div>
  <div class="footer__social-item">
    <a href="https://github.com/Decusthesupamida"
      ><img src="../../assets/img/iconmonstr-github-3-32.png" alt=""
    /></a>
  </div>
</footer>