.main__header{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    
}
.main__header h1 {
    font-weight: 600;
}
.main_news-item img {
    height: 180px;
border-radius: 10%;
margin-bottom: 50px;
}
.main-news{
    margin-top: 6rem;
}

.main__news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main_news-item p {
    width: 320px;
  height:   170px;
    font-size: 1.2rem;
    font-weight: bold;
}
.main_news-item a {
    text-decoration: none;
    color: black;
}